/* global styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 3rem;
    height: 100vh;
    background: url(./Background-Image.jpg) center/cover no-repeat;
}

.calculator-container {
    position: relative;
    height: 55vh;
    width: 30vw;
    padding: 3rem;
    border-radius: 2rem;
    background-color: #242527;
    margin: 0 auto;
}

header {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h2 {
    font-size: 1.75rem;
    color: white;
}

/* header X calculation section  */

.calculation-section {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-self: flex-end;
    width: 100%;
    height: 100%;
}

.calculation-text {
    color: #6b6e72;
    font-size: 1.25rem;
    align-self: flex-end;
    padding-bottom: .75rem
}

.calculation-solution {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
}



/* night mode button */

.night-mode {
    margin: 0 auto;
    position: relative;
    border-radius: 1.5rem;
    padding: .3rem;
    width: 7vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1b6a9b;
}

ion-icon {
    color: white;
}

.day-icon {
    font-size: 1.75rem;
}

.night-icon {
    font-size: 1.5rem;
}

.mode-selector {
    position: absolute;
    background-color: #013662;
    width: 55%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 1.5rem;
}

/* button section */

.buttons {
    background: url(./Gradient-Background.png) center/cover;
    position: absolute;
    width: 100%;
    max-height: 60%;
    top: 50%;
    left: 0;
    border-radius: 1.5rem;
    padding: 3rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
        "a b"
        "c b"
        "d b"
        "e b"
        "f b";
    gap: 1rem;
}

.top-buttons {
    width: 100%;
    background-color: #082738;
    display: flex;
    justify-content: space-between;
    padding: .5rem;
    border-radius: 5rem;
    grid-area: a;
}

.number-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.number-button {
    margin: .25rem;
    text-align: center;
    background: #082738;
    padding: .7rem;
    border-radius: 5rem;
    display: inline-block;
    width: 3.5rem;
}

.operator-button {
    margin: 0 auto;
    background-color: #082738;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5rem;
    padding: .5rem;
    border-radius: 5rem;
    width: 3.5rem;
    grid-area: b;
    height: 86%;
}

.operator {
    padding: .5rem;
}

.group-1 {
    grid-area: c;
}

.group-2 {
    grid-area: d;
}

.group-3 {
    grid-area: e;
}

.group-4 {
    grid-area: f;
}