/* global styles */
@import url('https://fonts.googleapis.com/css2?family=Karma:wght@500&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #a5b9d2;
    display: flex;
    justify-content: center;
    height: 100vh;
    font-family: 'Karma',
        serif;
}

.main {
    margin: 2rem;
    position: relative;
    background: url(./clean-iphone-x-screen-mockup-psd.jpg) center/cover no-repeat;
    min-width: 1330px;
    min-height: 885px;
    max-width: 1330px;
    max-height: 885px;
}

.container {
    position: absolute;
    top: 165px;
    left: 530px;
}

.calculator-container {
    position: relative;
    height: 435px;
    width: 270px;
    padding: 1.5rem 2rem 2rem 2rem;
    border-radius: 2.75rem;
    background-color: black;
    margin: 0 auto;
}

header {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h2 {
    font-size: 1.35rem;
    color: white;
}

/* header X calculation section  */

.calculation-section {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-self: flex-end;
    max-width: 270px;
    max-height: 435px;
}

.calculation-text {
    color: #1b6a9b;
    opacity: .75;
    font-size: 1.4rem;
    align-self: flex-end;
    padding-bottom: .75rem
}

.calculation-solution {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
}



/* night mode button */

.night-mode {
    margin: 0 auto;
    position: relative;
    border-radius: 1.5rem;
    padding-top: .35rem;
    padding-bottom: .1rem;
    height: 30px;
    width: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1b6a9b;
}

ion-icon {
    color: white;
}

.day-icon {
    font-size: 20px;
    padding-top: 3px;
}

.night-icon {
    font-size: 16px;
    padding-top: .85px;
}

.mode-selector {
    position: absolute;
    background-color: #013662;
    width: 55%;
    height: 100%;
    top: 0;
    /* day mode : left: 0; */
    /* night mode : left: 47%*/
    left: 47%;
    border-radius: 1.5rem;
}

/* button section */

.buttons {
    background: url(./Gradient-Background.png) center/cover;
    position: absolute;
    width: 100%;
    max-height: 75%;
    top: 50%;
    left: 0;
    border-radius: .3rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    padding: 1.8rem 3rem 3rem 3rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
        "a b"
        "c b"
        "d b"
        "e b"
        "f b";
    gap: 1rem;
}

.day-theme .buttons {
    background: url(./Background-Image.jpg) center/cover;
}

.top-buttons {
    width: 100%;
    background-color: #082738;
    display: flex;
    justify-content: space-between;
    padding: .2rem;
    border-radius: 5rem;
    grid-area: a;
}

.day-theme .top-buttons,
.day-theme .number-button,
.day-theme .operator-button {
    background-color: #73e4e2;
}

.day-theme h2 {
    color: #082738;
}

.day-theme .calculator-container {
    background-color: #cdfffe;
}

.top-button {
    cursor: pointer;
    padding-top: .2rem;
    padding-left: 5px;
    padding-right: 5px;
}

.number-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
        "a b c"
        "d e f"
        "g h i"
        "j k l";
    gap: .6rem;
}

.number-button {
    margin: .1rem;
    text-align: center;
    background: #082738;
    padding: .45rem;
    border-radius: 50%;
    display: inline-block;
    width: 3.1rem;
    cursor: pointer;
}

.operator-button {
    margin: 0 auto;
    background-color: #082738;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5rem;
    padding: .5rem .3rem;
    border-radius: 5rem;
    width: 3rem;
    grid-area: b;
    height: 85.3%
}

.operator {
    padding: .3rem;
    cursor: pointer;
}

.group-1 {
    grid-area: c;
}

.group-2 {
    grid-area: d;
}

.group-3 {
    grid-area: e;
}

.group-4 {
    grid-area: f;
}